.primary-button {
  padding: 8px 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #191919;
  font-size: 0.875em;
  background-color: #191919;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-weight: normal;
}
button{

  &:hover {
    opacity: 0.8;
  }

  &.success {
    background-color: var(--succes-color);
    border: 1px solid var(--succes-color);
  }

  &.ghost {
    background-color: transparent;
    color: #242424;
    border: 1px solid #242424;
  }
  &.border-none{
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  &.lg {
    padding: 8px 20px;
    font-size: 20px;
  }

  &.sm {
    padding: 5px 12px;
    font-size: 13px;
  }
}
