.comment-drawer {
    position: absolute;
    border: 3px solid red;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.08);
    width: 430px;
    background-color: #fff;
    padding: 30px 20px;
  }

