.hover-element {
  position: relative;
  display: flex;
  align-items: center;

}
.mini-tooltip-container {
  position: absolute;
  display: none;
  .mini-tooltip-content {
    position: absolute;
    transform: translateY(calc(-100% - 13px)) !important;
    padding: 5px 7px;
    background-color: var(--primary-color);
    color: rgb(209, 209, 209);
    font-weight: 300;
    font-size: 14px;
    border-radius: 4px;
    width: max-content;
  }
}
.mini-tooltip-container.open {
  display: flex;
}
