@import "../../../style/responsive.scss";

.trending{
    &-header{
        margin-bottom: 16px;
        &-h2{
            margin-left: 15px;
        }
    }
    .mini-blog-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 25px;

        @include responsive(phone){
            &{
                grid-template-columns: repeat(1, 1fr);
            }
        }
        @include responsive(tablet){
            &{
                grid-template-columns: repeat(2, 1fr);
            }
        }
     
    }
}