.profile-page {
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 20px;
  margin-left: 16px !important;

  @include responsive(phone) {
    &{
      grid-template-columns: 100%;
    }
  }

  &-left {
    padding: 56px 0 20px 0px;
    &-top {
      justify-content: space-between;
      span {
        color: var(--bdark-bg-color);
        font-size: 42px;
      }
      &-userName {
        margin-bottom: 49px;
      }
      i {
        cursor: pointer;
      }
    }
    &-menu {
      .navLinks {
        gap: 30px;
        padding: 0;
      }
      a {
        font-weight: 400;
      }

       a.active{
          color: var(--primary-text);
          position: relative;

      }
      a.active::before{
        content: "";
        border-bottom: 1px solid var(--primary-color);
        width: 100%;
        position: absolute;
        bottom: -21px;
      }
    }
    @include responsive(phone) {
      &{
        padding: 25px 40px 20px 0px;
        border: 1px solid red;
        width: 250x !important;
      }
      .profile-page-left-top{
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;
      }
      .profile-page-left-top-userName{
       font-size: 24px !important;
       margin-bottom: 0;
      }
      .resp-profile-img{
        display: flex !important;
      }
      .profile-page-left-menu{
        margin-bottom: 20px;
      }
    }
  }
  &-right {
    padding-top: 40px;
    padding-left: 40px;
    border-left: 1px solid var(--light-border-color);
    display: flex;
    flex-direction: column;

    &-userName{
        margin-top: 15px;
        margin-bottom: 25px;
    }
    button{
        display: inline-flex;
        color: var(--succes-color);
        padding-left: 0 !important;
    }
    @include responsive(phone) {
      &{
       display: none;
      }
    }
  }
  .light-line {
    margin-top: 20px;

    @include responsive(phone) {
      &{
        display: none;
      }
    }
  }

}
.container {
  padding-top: 0 !important;
  @include responsive(phone) {
    &{
     padding: 0px !important;
    }
  }
}
.loggedin-header {
  padding-top: 20px !important;
  @include responsive(phone) {
    &{
     padding: 20px !important;
    }
  }
}
