.comment-card {
  margin: 30px 0;
  &-top {
    justify-content: space-between;
    margin-bottom: 10px;
    img {
      margin-right: 10px;
    }
    .commenter-name {
      margin-bottom: 3px;
      cursor: pointer;
    }
    .commenter-profile {
      position: relative;
    }
    .commenter-profile:hover .tooltip-container {
      display: flex;
    }
    .comment-date {
      cursor: pointer;
    }
    .comment-date:hover {
      border-bottom: 1px solid var(--primary-color);
    }
  }
  &-content {
    line-height: 24px;
  }

  &-bottom {
    margin-top: 20px;
    justify-content: space-between;
    .clap {
      i {
        cursor: pointer;
        margin-right: 5px;
      }
      i:hover {
        color: var(--secondary-color);
      }
      margin-right: 15px;
      .count-text {
        font-weight: 400;
      }
    }
    .replies {
      cursor: pointer;
      i {
        margin-right: 5px;
      }
      .reply-text {
        font-weight: 400;
      }
    }
  }
  .read-more-btn {
    color: var(--succes-color);
    padding: 0;
  }
}
