@import "../../../style/responsive.scss";

.loggedin-header {
  height: 57px;
  .container {
    padding: 20px;
    max-width: 100%;
  }
  &-left {
    gap: 20px;
  }
  &-right {
    i {
      cursor: pointer;
    }
    .write-area,
    .fa-bell {
      padding: 3px;
      margin-right: 33px;
      span {
        font-weight: 400;
        margin-left: 8px;
      }
    }
    @include responsive(phone) {
      .write-area {
        display: none;
      }
    }
    Ã .profile {
      position: relative;
    }
    .write-area:hover > span,
    .write-area:hover > i {
      color: var(--primary-color);
    }
    .fa-bell:hover {
      color: var(--primary-color);
    }
  }
  @include responsive(phone) {
    .search-area {
      display: none;
    }
  }
  @include responsive(phone) {
    .resp-search-icon {
      display: flex !important;
      padding: 3px;
      margin-right: 33px;
    }
  }
  @include responsive(phone) {
    .resp-search-link {
      display: flex !important;
    }
  }
}
