.css-1191obr-MuiPaper-root-MuiAppBar-root {
    box-shadow: none !important;
}
.list-item {
  svg {
    font-size: 30px !important;
  }
  .drawer-text {
    span {
      font-size: 18px !important;
    }
  }
  .drawer-icon{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
  }
}
