.reading-list-page {
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 20px;
  .profile-info {
    padding-top: 40px;
    .avatar {
      margin-right: 15px;
    }
    .user-name {
      margin-bottom: 5px;
    }
    .profile-info-bottom {
      gap: 8px;
    }
    .story {
      gap: 5px;
    }
  }
  .list-page-header{
    padding:24px 0;
    .reading-list-h2{
      padding-bottom: 10px;
    }
    .light-line{
      margin: 10px 0;
    }

  }
  &-right {
    padding-top: 40px;
    padding-left: 40px;
    border-left: 1px solid var(--light-border-color);
    display: flex;
    flex-direction: column;

    &-userName {
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .edit-btn {
      display: inline-flex;
      color: var(--succes-color);
      padding-left: 0 !important;
    }
    .edit-btn:hover {
      color: var(--primary-color);
    }
    @include responsive(phone) {
      & {
        display: none;
      }
    }
  }
}
