@import "./responsive.scss";
@import "../../src/components/common/Button/button.scss";
@import "../../src/components/common/AuthenticationButton/authenticationBtn.scss";
@import "../../src/components/common/BlogCard/blogCard.scss";
@import "../../src/components/common/Tooltip/tooltip.scss";
@import "../../src/components/common/UserPopup/user-popup.scss";
@import "../../src/components/common/LoginForm/login.scss";
@import "../../src/components/common/Loader/loader.scss";
@import "../../src/components/common/HorizantalScrobbleBar/horizantal-scrobble-bar";
@import "../../src/components/common/Header/header.scss";
@import "../../src/components/common/Header/loggedin-header.scss";
@import "../../src/components/common/StaffPicksCard/staffPickCard.scss";
@import "../../src/components/common/FollowPersonCard/follow-person-card.scss";
@import "../../src/components/common/Footer/footer.scss";
@import "../../src/components/common/MultipleSelect/multiple-select.scss";
@import "../../src/components/Blog/BlogViewModal/blog-view-modal.scss";
@import "../../src/components/common/SearchInput/search-input.scss";
@import "../../src/pages/Home/loggedin-home.scss";
@import "../../src/pages/Home/home.scss";
@import "../../src/pages/Search/search.scss";
@import "../../src/pages/Profile/profile-page.scss";
@import "../../src/pages/Profile/paths/ProfilePageHome/profilePage-home.scss";
@import "../../src/pages/Profile/paths/ProfilePageAbout/profilePAge-about.scss";
@import "../../src/pages/Profile/paths/Lists/lists.scss";
@import "../../src/pages/Write/write.scss";
@import "../../src/pages/Topics/topics.scss";
@import "../../src/pages/Admin/admin.scss";
@import "../../src/pages/Admin/CategoriesPage/categories-page.scss";
@import "../../src/components/common/MiniDrawer/mini-drawer.scss";


:root {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  height: 100%;
  padding: 40px;

  @include responsive(phone) {
    width: 100%;
  }
}
// ***************** flexeble ******************
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
.flex-center-center {
  align-items: center;
  justify-content: center;
}
.flex-center-between {
  align-items: center;
  justify-content: space-between;
}
.flex-between{
  justify-content: space-between;
}
