.tooltip-container {
  position: relative;
  display: none;

  .tooltip {
    position: absolute;

    width: 300px;
    height: auto;
    padding: 16px;
    box-shadow: 2px 2px 10px 4px #ddd;
    background-color: #fff;
    border-radius: 4px;
    left: 0;
    margin-left: 5px;
    z-index: 5;
    &-header {
      margin-bottom: 10px;
      .tooltip-name {
        margin-left: 8px;
      }
    }

    .light-line {
      margin: 15px 0;
    }
    &-info p {
      line-height: 20px;
    }
  }
}

.tooltip-container.open {
  display: flex;
}
