.hover-element {
  position: relative;
}
.basic-tooltip-container {
  position: absolute;
  display: none;
  .basic-tooltip-content {
    position: absolute;
    transform: translateY(calc(-100% - 5px));
    width: fit-content;
    padding: 7px 10px;
    background-color: var(--primary-color);
    color: rgb(209, 209, 209);
    font-weight: 300;
    font-size: 14px;
  }
}
.basic-tooltip-container.open {
  display: flex;
}
